
body {
  background: #101313;
  color: #fff;
  margin: 0;
  font-family: 'Space Grotesk';
}
.Paper-shadow {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3), 0px 6px 6px rgba(0, 0, 0, 3.2);
  transition: box-shadow 0.3s ease-in-out;
}

.Paper-shadow:hover {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.4), 0px 12px 12px rgba(0, 0, 0, 0.3);
}